/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.color-main {
  color: #eef0e8;
}
.color-secondary {
  color: #9e8986;
}
.color-ter {
  color: #e6bdb8;
}
.color-cua {
  color: #bccbe3;
}
.color-quin {
  color: #677a99;
}
.p-color {
	color: #a1a791;
}