/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.color-main {
  color: #eef0e8;
}
.color-secondary {
  color: #a89f9e;
}
.color-ter {
  color: #e6bdb8;
}
.color-cua {
  color: #bccbe3;
}
.color-quin {
  color: #9E8986;
}
.p-color {
	color: #9E8986;
}


/* Hide ScrollBar */
::-webkit-scrollbar {display: none;}